
{% extends "Adminuser/base.html" %}
{% block title %}About us{% endblock %}
{% block content %}
   

    <!-- Main Content Area -->
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to our website! Here's a little bit about who we are and what we do.</p>

        <!-- Mission and Vision Section -->
        <section>
            <h2>Mission</h2>
            <p>To empower individuals through education, innovation, and community engagement.</p>

            <h2>Vision</h2>
            <p>To create a world where every individual has access to quality education and opportunities for growth and development.</p>
        </section>

        <!-- Our Story Section -->
        <section>
            <h2>Our Story</h2>
            <p>Founded in 1850, V.M. GOVT HSS PERIYAKULAM is managed by the Department of Education 
                and is located in Urban area.
                We have been dedicated to providing quality education and fostering a nurturing environment for our students. 
                From our humble beginnings, we have grown into a dynamic force for positive change in our community.</p>
        </section>

        <!-- Our Team Section -->

        <!-- Values Section -->
        <section>
            <h2>Our Values</h2>
            <ul>
                <li>Excellence: We strive for excellence in everything we do, setting high standards for ourselves and our community.
                    
                    </li>
                <li>Inclusivity: We embrace diversity and foster an inclusive environment where everyone feels valued and respected.</li>
                <li>Innovation: We encourage creativity, curiosity, and innovation as catalysts for positive change.</li>
                <!-- Add your organization's core values here -->
            </ul>
        </section>

        <!-- Contact Information Section -->
        <section>
            <h2>Contact Us</h2>
            <p>Include your contact information here, such as address, phone number, and email address.</p>
        </section>
    </div>

    <!-- Include your JavaScript files here if needed -->

{% endblock %}
