<!-- staff_dashboard.html -->
{% extends "Adminuser/base.html" %}
{% block title %}Staff Dashboard{% endblock %}
{% block content %}
<div class="glassmorphism">
    <!-- Main Content Area -->
    <div class="main">
       <nav class="navbar navbar-light bg-light justify-content-between">
           <a class="navbar-brand">Staff Details</a>
           <button type="button" class="btn btn-success my-2 my-sm-0" onclick="redirectToAddPage()">ADD</button>
           &nbsp;
           <form class="form-inline">
             <input id="searchInput" class="form-control mr-sm-2" type="search"  placeholder="Search Name" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="searchStaff()">Search</button>
           </form>
         </nav>
       <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for staff in staffs %}
        <tr class="staff-row">
            <td>{{ staff.id }}</td>
            <td>{{ staff.name }}</td>
            <td>{{ staff.phone }}</td>
            <td>{{ staff.email }}</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="redirectToEditPage('{{ staff.id }}')">Edit</button>
                <button type="button" class="btn btn-danger" onclick="redirectToDeletePage('{{ staff.id }}')">Delete</button>
                <button type="button" class="btn btn-info"  onclick="redirectToViewPage('{{ staff.id }}')">View</button>
            </td>
        </tr>
        {% endfor %}
       </table>
      
    </div>
</div>

 <!-- Pagination links -->
 <div class="pagination">
    {% if staffs.has_previous %}
        <a href="?page={{ staffs.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ staffs.number }} of {{ staffs.paginator.num_pages }}</span>

    {% if staffs.has_next %}
        <a href="?page={{ staffs.next_page_number }}">Next</a>
    {% endif %}
</div>

<script>
    function redirectToEditPage(staffId) {
        window.location.href = '/StaffProfileUpdate/' + staffId + '/';
    }
  
    function redirectToDeletePage(staffId) {
        window.location.href = '/delete/' + staffId + '/';
    }
  
    function redirectToViewPage(staffId) {
        window.location.href = '/StaffProfile/' + staffId + '/';
    }
    
    function redirectToAddPage() {
        window.location.href = '/StaffUpload/';
    }

    function searchStaff() {
        var input = document.getElementById("searchInput").value.toLowerCase();
        var rows = document.getElementsByClassName("staff-row");

        for (var i = 0; i < rows.length; i++) {
            var name = rows[i].getElementsByTagName("td")[1].textContent.toLowerCase();
            if (name.indexOf(input) > -1) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}
