<!-- staff_dashboard.html -->

{% extends "Adminuser/base.html" %}
{% block title %}Staff Dashboard{% endblock %}
{% block content %}
<div class="glassmorphism">
    <!-- Main Content Area -->
    <div class="main">
       <nav class="navbar navbar-light bg-light justify-content-between">
           <a class="navbar-brand">Staff Details</a>
           <button type="button" class="btn btn-info" onclick="redirectToAddPage()">ADD</button>
           <form class="form-inline">
             <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="searchStaff()">Search</button>
           </form>
         </nav>
       <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for staff in staffs %}
        <tr class="staff-row">
            <td>{{ staff.id }}</td>
            <td>{{ staff.name }}</td>
            <td>{{ staff.phone }}</td>
            <td>{{ staff.email }}</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="redirectToEditPage('{{ staff.id }}')">Edit</button>
                <button type="button" class="btn btn-danger" onclick="redirectToDeletePage('{{ staff.id }}')">Delete</button>
                <button type="button" class="btn btn-info"  onclick="redirectToViewPage('{{ staff.id }}')">View</button>
            </td>
        </tr>
        {% endfor %}
       </table>
    </div>
</div>
<script>
    function redirectToEditPage(staffId) {
        // Redirect to the edit page with the student ID
        window.location.href = '/StaffProfileUpdate/' + staffId+'/';
    }
  
    function redirectToDeletePage(staffId) {
        // Redirect to the delete page with the student ID
        window.location.href = '/delete/'+staffId+'/';
    }
  
    function redirectToViewPage(staffId) {
        // Redirect to the view page with the student ID
        window.location.href = '/StaffProfile/'+ staffId+'/';
    }
    function redirectToAddPage(staffId) {
        // Redirect to the view page with the student ID
        window.location.href = '/StaffUpload/';
    }
  </script>

{% endblock %}


