{% extends "Adminuser/base.html" %}
{% block title %}Student Dashboard{% endblock %}
{%block content %}
<!-- Student Dashboard -->
{% load static %}
<div class="glassmorphism">
    <!-- Main Content Area -->
<!-- Main content area -->
<div class="main">
   <nav class="navbar navbar-light bg-light justify-content-between">
       <a class="navbar-brand">Student Details</a>
       <form class="form-inline">
        <button class="btn btn-success" type="button">Add New</button>
        &nbsp;
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </nav>
   <table>
    
       <tr>
           <th>ID</th>
           <th>Name</th>
           <th>Age</th>
           <th>Grade</th>
           <th>Actions</th>
       </tr>
       <!-- Sample data, you can replace this with actual data -->
       {% for student in students %}
       <tr>
           <td>{{student.admission_no}}</td>
           <td>{{student.name}}</td>
           <td>{{student.section}}</td>
           <td>{{student.class_name}}</td>
           <td>
               <button type="button" class="btn btn-primary" onclick="redirectToEditPage('{{ student.id }}')">Edit</button>
               <button type="button" class="btn btn-danger" onclick="redirectToDeletePage('{{ student.id }}')">Delete</button>
               <button type="button" class="btn btn-info"  onclick="redirectToViewPage('{{ student.id }}')">View</button>
           </td>
       </tr>
       {% endfor %}
       {% comment %} <tr>
           <td>2</td>
           <td>Jane Smith</td>
           <td>17</td>
           <td>11</td>
           <td>
               <button type="button" class="btn btn-primary">Edit</button>
               <button type="button" class="btn btn-danger">Delete</button>
               <button type="button" class="btn btn-info">View</button>
           </td>
       </tr> {% endcomment %}
   </table>
</div>
</div>
{% endblock %}


