{% extends "Adminuser/base.html" %}
{% block title %}Update Student{% endblock %}
{% block content %}

<style>
    .main-body {
        padding: 15px;
    }
    .card {
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }
    .card {
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(10px);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 10px;
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 20px;
        margin: 20px;
        position: relative;
    }
    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }
    .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }
    .mb-3, .my-3 {
        margin-bottom: 1rem!important;
    }
    .bg-gray-300 {
        background-color: #e2e8f0;
    }
    .h-100 {
        height: 100%!important;
    }
    .shadow-none {
        box-shadow: none!important;
    }
</style>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if student.image %}
                            <img src="{{ student.image.url }}" class="rounded-circle" width="150">
                            {% endif %}
                            <form action='/StudentProfileUpdate/{{student.id}}/' method="POST">
                                {% csrf_token %}
                                <div class="mt-3">
                                    <h4>{{ student.name }}</h4>
                                    <input type="file" value="{{student.image}}" name="image" accept="image/*">
                                    {% if form.errors %}
                                    <ul>
                                        {% for field, errors in form.errors.items %}
                                        <li>{{ field }}:
                                            <ul>
                                                {% for error in errors %}
                                                <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Class</h6>
                        <span class="text-secondary">{{ student.class_name }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">DOB</h6>
                        <span class="text-secondary">{{ student.dob }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Section</h6>
                        <span class="text-secondary">{{ student.section }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Blood Group</h6>
                        <span class="text-secondary">{{student.blood_group}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0">Caste</h6>
                        <span class="text-secondary">{{student.caste}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    {% if error %}
      <p>{{ error }}</p>
      {% endif %}
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.name}}" name="name">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">DOB</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.dob|date:'Y/m/d' }}" name="dob">
                        </div>
                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone </h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.phone }}" name="phone">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Class</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.class_name }}" name="class_name">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Section</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.section }}" name="section">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Blood Group</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.blood_group }}" name="blood_group">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Father Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.father_name }}" name="father_name">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Caste</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.caste }}" name="caste">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="email" class="text-secondary" value="{{ student.email }}" name="email">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.address }}" name="address">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mother Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.mother_name }}" name="mother_name">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Nationality</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.nationality }}" name="nationality">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Gender</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.gender}}" name="gender">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Language</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.first_language}}" name="first_language">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Medium of Language</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.medium_of_language}}" name="medium_of_language">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Emis No</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.emis_no}}" name="emis_no">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Admission No</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="text-secondary" value="{{ student.admission_no}}" name="admission_no">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function redirectToProfilePage(studentId) {
        // Redirect to the edit page with the student ID
        window.location.href = '/studentProfile/' + studentId+'/';
    }
</script>

{% endblock %}
